# Dependencias
node_modules/

# Variables de entorno (SECRETOS)
.env
.env.*

#npm run build
dist/

# Logs
npm-debug.log
yarn-error.log

############################
# Terraform
############################
.terraform/
*.tfstate
*.tfstate.backup
crash.log
.terraform.lock.hcl

############################
# Credenciales GCP
############################
*.json
!package.json
!package-lock.json

# Docker
*.tar

# Sistema operativo
.DS_Store

# IDE / Editor
.vscode/
.idea/

# Coverage
coverage/

############################
# Mac
############################
.DS_Store